.box_container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.box_container div {
  padding: 10px;
}

.stats {
  display: flex;
  height: 200px;
  align-items: center;
}

@media (max-width: 1152px) {
  .box_container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .box_container {
    grid-template-columns: auto;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
